$delete-btn: red;
$add-btn: blue;
$edit-btn: yellow;
$backgrnd: lightgray;
$main-txt: black;

.form {
  margin: 20px;
  padding: 20px;
  background-color: $backgrnd;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 225px;
}

.head {
  position: absolute;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  color: $main-txt;
  font-size: 50px;
  margin-left: 300px;
}

.form-head {
  color: $main-txt;
}

.delete-btn {
  background-color: $delete-btn;
  font-size: 20px;
  font-family: sans-serif;
}

.edit-btn {
  background-color: $edit-btn;
  font-size: 20px;
  font-family: sans-serif;
}

.submit-btn {
  background-color: white;
  color: $main-txt;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  cursor: pointer;
}

.emp-header {
  color: $main-txt;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}