$delete-btn: red;
$add-btn: blue;
$edit-btn: yellow;
$backgrnd: lightgray;

.form {
  margin: 20px;
  padding: 20px;
  background-color: $backgrnd;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 225px;
}

.head {
  position: absolute;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 50px;
  margin-left: 300px;
}